//----------------------------------------------------------------------
//
// ABOUT
//
//----------------------------------------------------------------------
#about {
  @include viewport(medium) {
    text-align: left;
  }

  padding: 0 $padding-global-left;

  .print-btn-wrapper {
    @include viewport($break-mini-tablet) {
      display: none;
    }

    display: inline-block;
    width: 100%;
    padding-bottom: 40px;
  }

  .print-btn {
    font-size: 1em;

    .vcenter-wrapper {
      display: table;
      float: left;
      height: 20px;

      .vcenter {
        display: table-cell;
        vertical-align: middle;

        .icon {
          padding-right: 5px;
        }

        .label {
          display: inline-block;
        }
      }
    }
  }

  .resume-columns {
    display: inline-block;

    .col {
      @include viewport($break-mini-tablet) {
        width: 100%;
        margin: 0;
      }

      width: 48%;
      margin-right: 2%;

      .vcenter-wrapper {
        display: table;
        height: 20px;

        .vcenter {
          display: table-cell;
          vertical-align: middle;
        }
      }

      .vcenter-wrapper.bullet {
        float: left;
        padding-right: 5px;
      }
    }

    .col0,
    .col1 {
      @include viewport($break-mini-tablet) {
        float: none;
      }

      float: left;
    }

    .resume-job {
      padding-bottom: 20px;
      padding-left: 10px;
    }

    .resume-hdr-grp {
      padding-bottom: 5px;
    }

    .resume-hdr-role {
      @include lato-italic;
      color: $color-neutral;
    }

    .resume-body ul  {
      margin: 1em 0 0;
      padding: 0 0 0 20px;
    }

    .label {
      @include lato-bold;
      padding-bottom: 10px;
      font-size: 1.2em;
    }

    .resume-skills {
      @include viewport($break-mini-tablet) {
        padding-bottom: 0;
      }

      padding-bottom: 20px;
      padding-left: 10px;
    }

    .resume-skills-item {
      padding-bottom: 15px;
    }

    .resume-skills-list {
      @include lato-italic;
      color: $color-neutral;
    }

    .resume-edu {
      padding-left: 10px;
    }

  }

  .resume-item {
    padding-bottom: 40px;
  }

}
