//----------------------------------------------------------------------
//
// DETAIL
//
//----------------------------------------------------------------------

#project-detail {
  display: inline-block;

  .detail-item {
    width: 100%;
  }

  .detail-video {
    @include aspect-ratio($vidW, $vidH);
    @include viewport(medium) {
      width: 100%;
    }

    float: left;
    width: 65%;
    background: $color-grey;

    video,
    img,
    object {
      @include fill-absolute;
      width: 100%;
    }
  }

  .detail-dotnav {
    position: absolute;
    right: 0;
    margin-top: 50px;

    .container {
      float: left;
    }

    .inner {
      width: 5px;
      height: 5px;
      background: red;
    }

    .outer {
      width: 10px;
      height: 10px;
      background: red;
      @include opac(0.5);
    }

  }

  .detail-content {
    @include viewport(medium) {
      width: 100%;
      padding-top: 30px;
    }

    float: right;
    width: 30%;
    padding: 10px 0 0 $descPad;
  }

  .detail-header {
    display: table;
    width: 100%;

    .detail-header-txt {
      display: table-cell;
      font-size: 1.4em;
      vertical-align: middle;
    }

    .client {
      @include lato-bold;
      color: $color-dark-grey;
    }

    .desc {
      @include lato-light;
      @include viewport(medium) {
        display: inline;
      }

      display: block;
      color: $color-mid-grey;
    }
  }

  .detail-header-back {
    display: table-cell;
    float: right;
    font-size: 1em;
    vertical-align: middle;

    .vcenter-wrapper {
      display: table;
      float: left;
      height: 20px;

      .vcenter {
        display: table-cell;
        vertical-align: middle;

        .arrow {
          padding-right: 5px;
        }

        .label {
          display: inline-block;
        }
      }
    }
  }

  .detail-tags {
    padding: 5px 0 15px;
  }

  .detail-desc {
    font-size: 1.2em;
    text-align: justify;

    ul {
      padding-left: 0;
      // list-style-image: url('../img/arrow_fwd.png');
      list-style: none;
    }

    li {
      &:before {
        position: relative;
        top: 0.8em;
        left: -0.8em;
        display: block;
        width: 0;
        height: 0;
        border-width: 0.25em 0 0.25em 0.35em;
        border-style: solid;
        border-color: transparent $color-red;
        content: '';
      }

      margin: 5px 0 0 1.3em;
      color: $color-mid-grey;
    }
  }
}
