

/**
 *
 * DETAIL
 *
 **/
#project-detail {
  width: $w;
  padding: 0 $arrowW;
  margin-left: -$arrowW;

  .detail-item {
    width: 100%;
    padding-top: 20px;

    .detail-video-wrapper {
      width: $w + ($arrowW + $arrowMar) * 2;
      margin-left: -$arrowW - $arrowMar;
      display: inline-block;

      .arrow {
        width: $arrowW;
        height: $vidH;
        display: table;
        cursor: hand;
        cursor: pointer;

        .arrow-wrapper {
          display: table-cell;
          vertical-align: middle;
          width: $arrowW;
          height: $arrowH;
          padding-bottom: $arrowH;

          img {
            position: absolute;
            // NEEDS TO BE DEFINED FOR DESATURATION SCRIPT
            width: $arrowW;
            height: $arrowH;
            @include opac(0);
          }
        }
      }

      .arrow-l {
        float: left;
        padding-right: $arrowMar;
      }

      .arrow-r {
        float: right;
        margin-left: $arrowMar;
      }

      .detail-video {
        width: $vidW;
        height: $vidH;
        float: left;
        background: $color-grey;

        video {
          width: $vidW;
          height: $vidH;
        }

        img  {
          width: 100%;
        }
      }

      .detail-content {
        padding: 10px 0px 0 $descPad;
        width: $descW;
        float: left;

        .detail-header {
          width: 100%;
          display: table;

          .detail-header-txt {
            vertical-align: middle;
            display: table-cell;
            font-size: 1.4em;

            .client {
              @include lato-bold;
              color: $color-dark-grey;
            }

            .desc {
              @include lato-light;
              color: $color-mid-grey;
            }
          }

          .detail-header-back {
            vertical-align: middle;
            display: table-cell;
            font-size: 1em;
            float: right;

            .vcenter-wrapper {
              display: table;
              height: 20px;
              float: left;

              .vcenter {
                display: table-cell;
                vertical-align: middle;

                .arrow {
                  padding-right: 5px;
                }

                .label {
                  display: inline-block;
                }
              }
            }
          }
        }

        .detail-tags {
          padding: 5px 0 15px 0;
        }

        .detail-desc {
          font-size: 1.2em;
          text-align: justify;

          ul {
            padding-left: 0;
            list-style-image:url('../img/arrow_fwd.png');
            li {
              color: $color-mid-grey;
              margin: 5px 0 0 1.3em;
            }
          }
        }
      }
    }
  }
}