//----------------------------------------------------------------------
//
// DETAIL
//
//----------------------------------------------------------------------

#project-detail {

  .detail-item {
    display: inline-block;
    width: 100%;
  }

  .detail-video {
    @include aspect-ratio(610px, 410px);
    @include viewport(medium) {
      width: 100%;
    }

    float: left;
    width: 65%;
    background: $color-grey;

    video,
    object,
    .slate {
      @include fill-absolute;
      width: 100%;
    }
  }

  .detail-dotnav,
  .detail-grid-icon {
    position: absolute;
    display: table;
    margin-top: 10px;

    .container {
      @include v-center-table;
      @include hand;
      width: 26px;
      height: 26px;
    }

  }

  .detail-dotnav {

    .inner {
      @include h-center-margin;
      position: absolute;
      top: 0;
      width: 6px;
      height: 6px;
      border: solid 10px $color-white;
      border-radius: 50%;
      background: $color-grey;
    }

    .outer {
      @include h-center-margin;
      @include opac(.2);
      width: 0;
      height: 0;
      border-radius: 50%;
      background: $color-red;
    }

  }

  .detail-grid-icon {
    @include hand;
    right: 5px;

    &:hover .copy {
      color: $color-red;
    }

    .container {
      width: auto;
    }

    .icon {
      width: 14px;
      height: 14px;
      padding-right: 5px;
    }

    .copy {
      @include viewport(small) {
        display: none;
      }

      float: right;
      padding-right: 5px;
      color: $color-mid-grey;
    }

  }

  .detail-content {
    @include viewport(medium) {
      width: 100%;
      padding: 50px 0 30px;
    }

    float: right;
    width: 30%;
    padding: 10px 0 0 30px;
  }

  .detail-header {
    @include viewport(medium) {
      padding: 0 10px;
    }

    display: table;
    width: 100%;

    .detail-header-txt {
      display: table-cell;
      font-size: 1.4em;
      vertical-align: middle;
    }

    .client {
      @include lato-bold;
      color: $color-dark-grey;
    }

    .desc {
      @include lato-light;
      @include viewport(medium) {
        display: inline;
      }

      display: block;
      color: $color-mid-grey;
    }
  }

  .detail-tags {
    @include viewport(medium) {
      padding: 5px 10px 15px;
    }

    padding: 5px 0 15px;
  }

  .detail-desc {
    @include lato-light;
    @include viewport(medium) {
      padding: 0 10px;
    }

    font-size: 1.2em;
    text-align: justify;

    ul {
      padding-left: 0;
      // list-style-image: url('../img/arrow_fwd.png');
      list-style: none;
    }

    li {
      &:before {
        position: relative;
        top: 0.8em;
        left: -0.8em;
        display: block;
        width: 0;
        height: 0;
        border-width: 0.25em 0 0.25em 0.35em;
        border-style: solid;
        border-color: transparent $color-red;
        content: '';
      }

      margin-left: 0.8em;
      color: $color-mid-grey;
    }
  }
}
