//----------------------------------------------------------------------
//
// grid
//
//----------------------------------------------------------------------
#project-grid {
  text-align: center;

  #project-grid-badges {
    padding-bottom: $marB;
  }

  .grid-item-column {
    border-bottom: 1px solid $color-white;
    border-right: 1px solid $color-white;
    display: inline-block;
    width: 49%;
    text-align: left;
  }

  .grid-item {
    @include aspect-ratio($gridItemW, $gridItemH);
    cursor: hand;
    cursor: pointer;

    .pinwheel {
      margin-left: 50%;
      margin-top: -30%;
      position: absolute;
    }

    .grid-item-bg {
      @include aspect-ratio-offset($gridItemW, $gridItemH);
      background: $color-grey;

      .thumb-image {
        @include opac(1);
        height: auto;
        width: 100%;
      }
    }

    .grid-item-overlay {
      // will fill container
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      position: absolute;
      // clip: rect(0, $gridItemW, $gridItemH, 0);

      .grid-item-overlay-bg {
        position: absolute;
        width: $gridItemW - 7;
        height: $gridItemLabelH;
        margin: ($gridItemH - $gridItemLabelH - 10) 2px 0 3px;
        background: $color-red;
        @include opac(.7);
        @include trans($durShort);
      }

      .grid-item-label-wrapper {
        display: table;
        position: absolute;
        width: $gridItemW;
        height: $gridItemLabelH;
        margin-top: ($gridItemH - $gridItemLabelH - 10);
        @include trans($durMed);

        .grid-item-label {
          width: 50%;
          display: table-cell;
          vertical-align: middle;
          padding: 0 10px;
          font-size: .8em;

          .move {
            @include trans($durMed);
            span {
              color: white;
              line-height: 1.1em;
              @include trans($durMed);
            }

            span.label {
              @include lato-reg;
            }

            span.desc {
              @include lato-light;
            }
          }

          .grid-item-tags {
            height: 0;
            width: $gridItemW - 100px;
            @include opac(0);
            @include trans($durShort);
          }
        }

        .vcenter {
          float: right;
          display: table;
          height: 100%;
          @include trans($durMed);

          .grid-item-arrow {
            display: table-cell;
            vertical-align: middle;
            padding-right: 10px;
            color: white;
          }
        }
      }

      .arrow-lrg-wrapper {
        position: absolute;
        display: inline-block;
        width: 100%;
        height: 100%;
        clip: rect(0, $gridItemW, $gridItemH, 0);

        .arrow-lrg {
          width: 100%;
          height: 100%;
          display: table;
          padding-right: 10px;
          margin-left: 50px;
          text-align: right;
          @include opac(0);
          @include trans($durMed);

          .grid-item-arrow-lrg {
            display: table-cell;
            vertical-align: middle;
            padding-right: 0px;
            font-size: 6em;
            color: $color-red;
            @include trans($durMed);
          }
        }
      }

      // .hit-area {
      //   position: absolute;
      //   width: $gridItemW;
      //   height: $gridItemH;
      //   background: $color-grey;
      //   @include opac(0);
      // }
    }
  }
}