//----------------------------------------------------------------------
//
// grid
//
//----------------------------------------------------------------------
#project-grid {

  #project-grid-badges {
    padding-bottom: 20px;
  }

  .grid-item-column {
    border-bottom: 1px solid $color-white;
    border-right: 1px solid $color-white;
    display: inline-block;
    width: 49.8%;
    @include viewport(column) {
      width: 100%;
      border-right: none;
    }
  }

  .grid-item {
    @include aspect-ratio($thumb-width, $thumb-height);
    cursor: hand;
    cursor: pointer;

    .pinwheel {
      position: absolute;
      margin-top: -30%;
      margin-left: 50%;
    }

    .grid-item-bg {
      @include aspect-ratio-offset($thumb-width, $thumb-height);
      background: $color-grey;

      .thumb-image {
        @include opac(1);
        width: 100%;
        height: auto;
      }
    }

    .grid-item-overlay {
      @include fill-absolute;
      margin: 0 5px 5px;

      .grid-item-overlay-bg { // band with label
        position: absolute;
        bottom: 0;
        width: 100%;
        height: $thumb-label-height;
        background: $color-overlay;

        @include opac(.7);

        &.card-format {
          width: 100%;
          height: 100%;
          bottom: 0;
          opacity: 0;
          background-color: $color-highlight;
        }
      }

      .grid-item-label-wrapper {
        position: absolute;
        bottom: 0;
        display: table;
        width: 100%;
        height: $thumb-label-height;

        .grid-item-label {
          display: table-cell;
          padding: 0 10px;
          font-size: .8em;
          vertical-align: middle;

          .move {
            span {
              color: white;
              line-height: 1.1em;
            }

            span.label {
              @include lato-reg;
              color: $color-highlight;
            }

            span.desc {
              @include lato-light;
            }
          }

          &.card-format {
            padding: 5% 10%;
            span {
              font-size: 2em;
            }

            span.label {
              color: $color-white;
            }

          }

          .grid-item-tags {
            width: $thumb-width - 100px;
            height: 0;
            @include opac(0);

            &.card-format {
              height: auto;
              padding-top: 5px;
            }
          }
        }

        .vcenter {
          float: right;
          display: table;
          height: 100%;

          .grid-item-arrow {
            display: table-cell;
            vertical-align: middle;
            padding-right: 10px;
            color: white;
          }
        }

        &.card-format {
          margin: 0;
          top: 20px;
        }

      }

      .long-description {
        @include lato-light;
        color: $color-white;
        font-size: 1.4em;
        display: none;

        @media only screen and (min-width: $break-column) and (max-width: 830px) {
          display: none !important;
        }

        &.card-format {
          display: block;
        }
      }

      &.card-format {
        margin: 0;
      }

    }
  }
}
