@mixin lato {
  font-family: 'Lato', Arial, sans-serif;
}

@mixin lato-light {
  @include lato;
  font-weight: 300;
}

@mixin lato-italic {
  @include lato;
  font-weight: 300;
  font-style: italic;
}

@mixin lato-reg {
  @include lato;
  font-weight: 400;
}

@mixin lato-bold {
  @include lato;
  font-weight: 700;
}

@mixin shadow ($xoffset:0, $yoffset:0, $blur: 25px, $spread:0, $opac: $shadowOpacity) {
  // TODO - REPLACE WITH AUTO-PREFIX
  -moz-box-shadow: $xoffset $yoffset $blur $spread rgba(0, 0, 0, $opac);
  -webkit-box-shadow: $xoffset $yoffset $blur $spread  rgba(0, 0, 0, $opac);
  box-shadow: $xoffset $yoffset $blur $spread rgba(0, 0, 0, $opac);

  // TODO - REPLACE WITH AUTO-PREFIX
  -webkit-transition: -webkit-box-shadow .3s ease-out;
  transition: box-shadow .3s ease-out;
}

@mixin trans($dur: $durShort, $del: 0) {
  // TODO - REPLACE WITH AUTO-PREFIX
  -webkit-transition: all $dur ease-out;
  transition: all $dur ease-out;
  -webkit-transition-delay: $del;
  -moz-transition-delay: $del;
  -o-transition-delay: $del;
  transition-delay: $del;
}

@mixin no-select {
  // TODO - REPLACE WITH AUTO-PREFIX
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@mixin margins {
  width: $w;
  margin: 0 auto;
}

@mixin opac($val) {
  opacity: $val;
  filter: alpha(opacity = $val * 100);
}

@mixin hide {
  display: none;
}

@mixin viewport($size: small) {
  $selected-break: $size;

  @if $size == medium {
    $selected-break: $break-tablet;
  }

  @if $size == small {
    $selected-break: $break-phone;
  }

  @if $size == column {
    $selected-break: $break-column;
  }

  @if $size == navmedium {
    $selected-break: $break-nav;
  }

  @media only screen and (max-width: $selected-break) {
    @content;
  }
}

@mixin aspect-ratio($width, $height) {
  position: relative;

  &:before {
    display: block;
    width: 100%;
    padding-top: ($height / $width) * 100%;
    content: '';
  }
}

@mixin aspect-ratio-offset($width, $height) {
  margin-top: -($height / $width) * 100%;
}

@mixin fill-absolute {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin arrow($direction, $color: $color-red, $radius: 3px) {
  width: 0;
  height: 0;

  @if $direction == up {
    border-right: $radius solid transparent;
    border-bottom: $radius solid $color;
    border-left: $radius solid transparent;
  } @else if $direction == down {
    border-top: $radius solid $color;
    border-right: $radius solid transparent;
    border-left: $radius solid transparent;
  } @else if $direction == right {
    border-top: $radius solid transparent;
    border-bottom: $radius solid transparent;
    border-left: $radius solid $color;
  } @else {
    border-top: $radius solid transparent;
    border-right: $radius solid $color;
    border-bottom: $radius solid transparent;
  }

}
