//----------------------------------------------------------------------
//
// components
//
//----------------------------------------------------------------------

$width-small         : 320px;
$mar-main            : 60px;
$padding-global-left : 10px;
$hdr-top-mar         : 30px;
$hdr-h               : 50px;
$hdr-h-med           : 70px;
$footer-h            : 30px;
$thumb-width         : 285px;
$thumb-height        : 180px;
$thumb-label-height  : 30px;


//----------------------------------------------------------------------
//
// breakpoints
//
//----------------------------------------------------------------------

$break-tablet      : 950px;
$break-mini-tablet : 768px;
$break-nav         : 730px;
$break-column      : 615px;
$break-phone       : 480px;


//----------------------------------------------------------------------
//
// colors
//
//----------------------------------------------------------------------

$color-kuler-01    : #1eb7cc;
$color-kuler-02    : #3a8e99;
$color-kuler-03    : #00ff8f;
$color-kuler-04    : #ff4041;
$color-kuler-05    : #cc0b6d;
$color-trans       : rgba(0, 0, 0, 0);
$color-white       : #fff;
$color-red         : #f00;
$color-grey        : #bbb;
$color-light-grey  : #ddd;
$color-mid-grey    : #aaa;
$color-dark-grey   : #666;
$color-player-grey : #999;
$color-nav-bg      : #f2f2f2;
