//----------------------------------------------------------------------
//
// components
//
//----------------------------------------------------------------------

$width-small         : 320px;
$mar-main            : 60px;
$padding-global-left : 10px;
$hdr-top-mar         : 30px;
$hdr-h               : 50px;
$hdr-h-med           : 70px;
$footer-h            : 30px;
$thumb-width         : 285px;
$thumb-height        : 180px;
$thumb-label-height  : 30px;


//----------------------------------------------------------------------
//
// breakpoints
//
//----------------------------------------------------------------------

$break-tablet      : 950px;
$break-mini-tablet : 768px;
$break-nav         : 730px;
$break-column      : 615px;
$break-phone       : 480px;


//----------------------------------------------------------------------
//
// colors
//
//----------------------------------------------------------------------

$color-kuler-red         : #dc0c43;
$color-kuler-pink        : #f2157a;
$color-kuler-grey        : #ecf1f4;
$color-kuler-light-green : #92a493;
$color-kuler-green       : #5c734c;

$color-trans             : rgba(0, 0, 0, 0);
$color-white             : #fff;
$color-red               : #f00;
$color-grey              : #bbb;
$color-light-grey        : #ddd;
$color-mid-grey          : #aaa;
$color-dark-grey         : #444;
$color-player-grey       : #999;
$color-nav-bg            : #f2f2f2;
