//----------------------------------------------------------------------
//
// components
//
//----------------------------------------------------------------------

$width-small         : 90%; //320px;
$mar-main            : 60px;
$padding-global-left : 10px;
$hdr-top-mar         : 30px;
$hdr-h               : 50px;
$hdr-h-med           : 70px;
$footer-h            : 30px;
$thumb-width         : 285px;
$thumb-height        : 180px;
$thumb-label-height  : 30px;


//----------------------------------------------------------------------
//
// breakpoints
//
//----------------------------------------------------------------------

$break-max		   : 1350px;
$break-tablet      : 950px;
$break-mini-tablet : 768px;
$break-nav         : 730px;
$break-column      : 615px;
$break-phone       : 480px;


//----------------------------------------------------------------------
//
// colors
//
//----------------------------------------------------------------------

$color-kuler-01    : #ffcbae;
$color-kuler-02    : #ff6c29;
$color-kuler-03    : #ff5c00;
$color-kuler-04    : #00b2af;
$color-kuler-05    : #00fffb;

$color-trans       : rgba(0, 0, 0, 0);
$color-white       : #fff;
$color-red         : #f00;
$color-grey        : #666;
$color-dark-grey   : #444;
$color-mid-grey    : #aaa;
$color-light-grey  : #ddd;

$color-highlight           : $color-kuler-04;
$color-highlight-secondary : $color-kuler-03;
$color-overlay             : $color-grey;
$color-deselected          : $color-light-grey;
$color-neutral             : $color-mid-grey;
$color-nav                 : $color-mid-grey;
$color-nav-selected        : $color-grey;
