/**
 * PLODE.COM - IE STYLES
 */
 
 
 
 
/**
 *
 * VARS
 *
 **/
$w: 900px;
$arrowW: 41px;
$arrowH: 75px;
$arrowMar: 4px;
$vidH: 350px;
$gridItemLabelH: 30px;
$headerH: 50px;



/**
 *
 * MIXINS
 *
 **/
@mixin opac($val){
	opacity: $val;
	filter: alpha(opacity= $val * 100);
}




/**
 *
 * HEADER
 *
 **/
#masthead{

	.header-margins{
		
		.header-inner-right{
			
			.header-nav-block{
				
				ul{

					li{
						height: $headerH;
					}
				}
			}
		}
	}
}



/**
 *
 * GRID
 *
 **/
.grid-item-label-wrapper{

	.vcenter{
		height: $gridItemLabelH !important;
	}
}




/**
 *
 * DETAIL
 *
 **/
