//----------------------------------------------------------------------
//
// PRINT
//
//----------------------------------------------------------------------

$resume-padding: 5px;

body {
  margin: 20px !important;
  color: #f00 !important;
  font-size: 12px !important;
}

#masthead-wrapper {
  padding: 0;
}

.header-title-block {
  font-size: 20px !important;

  .header-title {
    color: #f00 !important;
    font-weight: bold !important;
  }

  .header-role {
    color: #666 !important;
    font-style: italic !important;
  }

  #print-contact {
    display: block;
    font-size: 13px;
  }

}

.header-inner-right {
  display: none !important;
}

.resume-blurb {
  display: none !important;
}

.print-btn-wrapper {
  display: none;
}

.resume-body>ul {
  margin: 5px 0;
  padding: 0 0 0 10px;
}

.resume-columns {
  .col {
    .vcenter-wrapper {
      .vcenter {
        .label {
          font-weight: bold !important;
          font-size: 16px !important;
          padding-top: 10px;
        }
      }
    }
  }

  .label {
    padding-bottom: 5px;
  }

  .resume-job {
    padding-top: $resume-padding;

    .resume-hdr-grp {
      background: #ffcc00 !important;
    }

    .resume-hdr-role {
      color: #666 !important;
      font-style: italic;
    }

    .resume-body {
      text-decoration: none;
    }

  }

  .resume-skills-hdr {
    padding-top: $resume-padding;
  }

  .resume-skills-list {
    color: #666 !important;
    font-style: italic;
  }

  .resume-edu {
    padding-top: $resume-padding;
  }
}

#footer {
  display: none !important;
}

#project-grid-badges {
  display: none;
}
