@import 'normalize';
@import 'vars';
@import 'mixins';
@import 'header';
@import 'footer';
@import 'grid';
@import 'detail';
@import 'about';

//----------------------------------------------------------------------
//
// GLOBAL
//
//----------------------------------------------------------------------

* {
  //avoid tap highlight on mobile devices
  -webkit-tap-highlight-color: $color-trans;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  color: $color-dark-grey;
  font-size: 75%; // ~12px base font size
}

a {
  color: $color-mid-grey;
  text-decoration: none;

  &:hover {
    color: $color-red;
    text-decoration: none;
  }
}

.hide {
  display: none;
}

#wrapper {
  min-height: 100%;
  margin: 0 60px;

  @media only screen and (min-width: 1100px + $mar-main * 2)  {
    max-width: 1250px;
    margin: 0 auto;
  }

  @include viewport(small) {
    width: $width-small;
    margin: 0 auto;
  }
}

#content {
  @include lato-reg;
  position: relative;
  min-height: 100%;
  margin: 0 auto;
  padding-bottom: $footer-h * 2;
}

.plode-badge {
  @include no-select;
  display: inline-block;
  margin: 1px;
  padding: 1px 5px 2px;
  -moz-border-radius: 15px;
  border-radius: 15px; // TODO - ADD AUTOPREFIXER
  background: $color-light-grey;
  font-size: .8em;
  text-align: center;
  cursor: pointer;
  cursor: hand;

  &:hover {
    color: $color-white;
    background: $color-grey;
  }
}

.plode-badge.active {
  @extend .plode-badge;
  color: $color-white;
  background: $color-red;
}

.bullet-square {
  float: left;
  width: 4px;
  height: 4px;
  background: $color-red;
}








/**
 *
 * 0-479 : SMARTPHONE
 *
 **/
$spW: 300px;
$spHeaderH: 100px;
$spNavH: 40px;
$spMarV: 10px;

@media screen and (min-width: 0px) and (max-width: 767px)  {

  #project-grid {

    .grid-item {
      .grid-item-overlay {
        .grid-item-label-wrapper {
          .grid-item-label {
            width: 80%;

            .grid-item-tags {
              display: none;
            }
          }
        }
        .arrow-lrg-wrapper {
          .arrow-lrg {
            display: none;
          }
        }
      }
    }
  }

  #project-detail {
    width:  $spW;
    padding: 0;
    margin: 0;

    .detail-item {
      padding-top: 0px;

      .detail-video-wrapper {
        width: $spW;
        margin: 0;

        .arrow {
          display: none;
        }

        .detail-video {
          width: $spW;
          height: ($spW * $vidH) / $vidW;

          video {
            width: $spW;
            height: ($spW * $vidH) / $vidW;
          }

        }

        .detail-content {
          width: $spW;
          padding: 20px 0 0 0;
          clear: left;

          .detail-header {

            .detail-header-txt {
              display: block;
            }

            .detail-header-back {
              float: left;
            }
          }
        }
      }
    }
  }

  #about {
    text-align: left;

    .resume-blurb {
      font-size: 1.2em;
      padding-bottom: 20px;
    }

    .print-btn-wrapper {
      display: none;
    }

    .resume-columns {
      .col {
        width: 100%;
        margin: 0;
      }

      .col0 {
        float: none;

      }

      .col1 {
        float: none;

        .resume-skills {
          padding-bottom: 0;
        }
      }
    }
  }
}




/**
 *
 * 480-767 : MINITABLET
 *
 **/
$miniW: 480px;
$miniHeaderH: 105px;
$miniNavH: 40px;
$miniMarV: 10px;

@media screen and (min-width: 480px) and (max-width: 784px)  {
  /* Style adjustments for viewports that meet the condition */


  #project-grid {

    .grid-item {
      // CENTER COLUMN
      padding: 7px ($miniW - $gridItemW) / 2;

      .grid-item-overlay {
        .grid-item-label-wrapper {
          .grid-item-label {
            width: 80%;

            .grid-item-tags {
              display: none;
            }
          }
        }
        .arrow-lrg-wrapper {
          .arrow-lrg {
            display: none;
          }
        }
      }
    }
  }

  #project-detail {
    width:  $miniW;
    padding: 0;
    margin: 0;

    .detail-item {
      padding-top: 0px;

      .detail-video-wrapper {
        width: $miniW;
        margin: 0;

        .arrow {
          display: none;
        }

        .detail-video {
          width: $miniW;
          height: ($miniW * $vidH) / $vidW;

          video {
            width: $miniW;
            height: ($miniW * $vidH) / $vidW;
          }

        }
        .detail-content {
          width: $miniW;
          padding: 30px 0 0 0;
          clear: left;

          .detail-header {

            .detail-header-txt {
              display: block;
            }

            .detail-header-back {
              float: left;
            }
          }
        }
      }
    }
  }

  #about {
    .resume-blurb {
      font-size: 1.2em;
      padding-bottom: 20px;
    }

    .print-btn-wrapper {
      display: none;
    }

    .resume-columns {
      .col {
        width: 100%;
        margin: 0;
      }

      .col0 {
        float: none;

      }

      .col1 {
        float: none;

        .resume-skills {
          padding-bottom: 0;
        }
      }
    }
  }
}




/**
 *
 * 768 - 950 : TABLET
 *
 **/
$tabW: 768px;
$tabWPerc: 98%;
$tabMarV: 10px;
$tabVidW: 500px;
$tabDescW: 235px;


@media screen and (max-width: $break-tablet) {

  #project-grid {
    // width: $gridItemW * 2 + 60;
//    padding: 0 ($tabW - ($gridItemW * 2 + 60)) / 2;
    text-align: left;
    display: inline-block;

    .grid-item {
      // CENTER COLUMN
      display: inline-block;
      padding: 15px;
      // ($tabW - $gridItemW) / 2;

      .grid-item-overlay {
        .grid-item-label-wrapper {
          .grid-item-label {
            width: 80%;

            .grid-item-tags {
              display: none;
            }
          }
        }
        .arrow-lrg-wrapper {
          .arrow-lrg {
            display: none;
          }
        }
      }
    }
  }

  #project-detail {
    width:  100%;
    padding: 0;
    margin: 0;
    display: inline-block;

    .detail-item {
      .detail-video-wrapper {
        width: $tabW;
        margin: 0;

        .arrow {
          display: none;
        }

        .detail-video {
          width: $tabVidW;
          height: ($tabVidW * $vidH) / $vidW;

          video {
            width: $tabVidW;
            height: ($tabVidW * $vidH) / $vidW;
          }

        }

        .detail-content {
          width: $tabDescW;
          text-align: left;

          .detail-header {

            .detail-header-txt {
              display: block;
              font-size: 1.2em;
            }

            .detail-header-back {
              float: left;
            }
          }

          .detail-desc {
            font-size: 1em;
          }
        }
      }
    }
  }

  #about {
    text-align: left;
  }
}



@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
     only screen and (min-resolution: 144dpi)  {
  /* Style adjustments for high resolution devices */
}
