@import 'normalize';
@import 'vars';
@import 'mixins';
@import 'header';
@import 'footer';
@import 'grid';
@import 'detail';
@import 'about';

//----------------------------------------------------------------------
//
// GLOBAL
//
//----------------------------------------------------------------------

* {
  //avoid tap highlight on mobile devices
  -webkit-tap-highlight-color: $color-trans;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  color: $color-dark-grey;
  font-size: 75%; // ~12px base font size
}

a {
  color: $color-mid-grey;
  text-decoration: none;

  &:hover {
    color: $color-highlight;
    text-decoration: none;
  }
}

.hide {
  display: none;
}

#wrapper {
  min-height: 100%;
  margin: 0 60px;

  @media only screen and (min-width: 1100px + $mar-main * 2)  {
    max-width: 1250px;
    margin: 0 auto;
  }

  @include viewport(small) {
    width: $width-small;
    margin: 0 auto;
  }
}

#content {
  @include lato-reg;
  @include viewport(navmedium) {
    margin-top: 50px;
  }

  position: relative;
  min-height: 100%;
  margin: 0 auto;
  padding-bottom: $footer-h * 2;
}

.plode-badge {
  @include no-select;
  display: inline-block;
  margin: 1px;
  padding: 1px 5px 2px;
  border-radius: 15px;
  background: $color-deselected;
  font-size: .8em;
  text-align: center;
  cursor: pointer;
  cursor: hand;

  &:hover {
    color: $color-white;
    background: $color-neutral;
  }
}

.plode-badge.active {
  @extend .plode-badge;
  color: $color-white;
  background: $color-overlay;

  &:hover {
    background: $color-neutral;
  }
}

.bullet-square {
  float: left;
  width: 4px;
  height: 4px;
  background: $color-highlight;
}

.resume-blurb {
  @include lato-light;
  @include viewport($break-mini-tablet) {
    font-size: 1.2em;
  }

  padding-bottom: 20px;
  font-size: 1.7em;
  text-align: justify;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
     only screen and (min-resolution: 144dpi)  {
  /* Style adjustments for high resolution devices */
}
