/*
	Available fonts:
	- Lato Regular
	- thickness goes from -200 --> 200
	- sharpness goes from -400 --> 400
*/


/*****************************************
 LOADER
*****************************************/
.loader
{
	font-size: 12;
	font-family: Lato Regular;
	text-align: left;
	color: #ffffff;
	letter-spacing: 0;
	thickness: -200;
	sharpness: 0;
}


/*****************************************
 PLAYER
*****************************************/
.player-timecode
{
	font-size: 11;
	font-family: Lato Regular;
	text-align: center;
	color: #999999;
	letter-spacing: -.5;
	thickness: 0;
	sharpness: 100;
	leading: 1.5;
}

.player-timecode-dark
{
	font-size: 11;
	font-family: Lato Regular;
	text-align: center;
	color: #666666;
	letter-spacing: -.5;
	thickness: 0;
	sharpness: 100;
	leading: 1.5;
}

.player-buffering
{
	font-size: 13;
	font-family: Lato Regular;
	text-align: center;
	color: #ffffff;
	letter-spacing: -.5;
	thickness: 100;
	sharpness: 0;
	leading: 1.5;
}

.player-replay
{
	font-size: 13;
	font-family: Lato Regular;
	text-align: center;
	color: #ffffff;
	letter-spacing: -.5;
	thickness: 0;
	sharpness: 100;
	leading: 1.5;
}