$gridMargin: 20px;



/**
 *
 * RESUME
 *
 **/
 
body{
	color: #ff0000 !important;
	margin: 20px !important;
	font-size: 12px !important;
}




.header-title-block{
	font-size: 20px !important;

	.header-title{
		color: #ff0000 !important;
		font-weight: bold !important;
	}
	
	.header-role{
		color: #666666 !important;
		font-style: italic !important;
	}
	
	#print-contact{
		display: block;
		font-size: 13px;
	}
}

.header-inner-right{
	display: none !important;
}




.resume-blurb{
	display: none !important;
}

.print-btn-wrapper{
	display: none;
}

.resume-columns{
	.col{
		.vcenter-wrapper{
			.vcenter{
				.label{
					font-weight: bold !important;
					font-size: 16px !important;
					padding-top: 20px;
				}
			}
		}
	}

	.resume-job{
		padding-top: 16px;
		
		.resume-hdr-grp{
			background: #ffcc00 !important;
		
			.resume-hdr-title{
			}
	
			.resume-hdr-role{
				font-style: italic;
				color: #666666 !important;
			}
			
		}
	
		.resume-body{
			text-decoration: none;
		}
		
	}
	
	.resume-skills{
		.resume-skills-item{
			.resume-skills-hdr{
				padding-top: 16px;
			}
			
			.resume-skills-list{
				color: #666666 !important;
				font-style: italic;
			}
		}
	}
	
	.resume-edu{
		padding-top: 16px;
	}
}

#footer{
	display: none !important;
}


//@import "bootstrap/bootstrap.min";