/**
 *
 * RESUME
 *
 **/
body {
  color: #ff0000 !important; }

.resume-job .resume-hdr-grp {
  padding-bottom: 50px;
  background: #ffcc00; }
  .resume-job .resume-hdr-grp .resume-hdr-title {
    font-size: 80px;
    color: #ff0000 !important; }
  .resume-job .resume-hdr-grp .resume-hdr-role {
    color: #ffcccc; }
.resume-job .resume-body {
  text-decoration: none;
  color: #ddffab; }
