/**
 *
 * RESUME
 *
 **/
body {
  color: #ff0000 !important;
  margin: 20px !important;
  font-size: 12px !important; }

#masthead-wrapper {
  padding: 0px 0; }

.header-title-block {
  font-size: 20px !important; }
  .header-title-block .header-title {
    color: #ff0000 !important;
    font-weight: bold !important; }
  .header-title-block .header-role {
    color: #666666 !important;
    font-style: italic !important; }
  .header-title-block #print-contact {
    display: block;
    font-size: 13px; }

.header-inner-right {
  display: none !important; }

.resume-blurb {
  display: none !important; }

.print-btn-wrapper {
  display: none; }

.resume-body>ul{
  padding: 0 0 0 20px;
  margin: 5px 0;
}
.resume-columns .col .vcenter-wrapper .vcenter .label {
  font-weight: bold !important;
  font-size: 16px !important;
  padding-top: 10px; }
.resume-columns .label {
  padding-bottom: 5px; }
.resume-columns .resume-job {
  padding-top: 5px; }
  .resume-columns .resume-job .resume-hdr-grp {
    background: #ffcc00 !important; }
    .resume-columns .resume-job .resume-hdr-grp .resume-hdr-role {
      font-style: italic;
      color: #666666 !important; }
  .resume-columns .resume-job .resume-body {
    text-decoration: none; }
.resume-columns .resume-skills .resume-skills-item .resume-skills-hdr {
  padding-top: 5px; }
.resume-columns .resume-skills .resume-skills-item .resume-skills-list {
  color: #666666 !important;
  font-style: italic; }
.resume-columns .resume-edu {
  padding-top: 5px; }

#footer {
  display: none !important; }

/**
 *
 * DETAIL
 *
 **/
.arrow {
  display: none; }

/**
 *
 * GRID
 *
 **/
#project-grid #project-grid-badges {
  display: none; }
#project-grid .grid-item-arrow {
  display: none; }
#project-grid .arrow-lrg-wrapper {
  display: none; }
