<!-- .detail-item -->
<div class="detail-item">
	<div class="detail-video"><%= detail.vid %>&nbsp;,&nbsp;<%= detail.slate %></div>
	<div class="detail-content">
		<div class="detail-header">
			<div class="detail-header-txt"><span class="client"><%= label %></span> <span class="desc"><%= desc %></span></div>
			<div class="detail-header-back">
				<div class="arrow"><-</div><div class="label"><a href="#">back to projects</a></div>
			</div>
		</div>
		<div class="detail-tags">
			<div class="plode-badge">flash</div>
			<div class="plode-badge">akqa</div>
		</div>
		<div class="detail-desc"><%= detail.desc %>
			<% if(detail.links)
			{
				%><br /><%
				_.each(detail.links, function(link){
					console.log("testing:", link);
					%><br /><a href="<%= link.path %>"><%= link.label %></a><%
				});
			}%>
		</div>
	</div>
</div>
<!-- /.detail-item -->