<!-- .detail-item -->
<div class="detail-item">

	<!-- VIDEO PLAYER EMBED-->
	<div class="detail-video">
		<div class="vid-container">
			<!-- HTM5 FALLBACK-->
			<video poster="<%= detail.slate %>" controls autoplay tabindex="0">
				<source src="<%= detail.vid_mp4 %>" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
				<source src="<%= detail.vid_webm %>" type='video/webm; codecs="vp8, vorbis"' />
				Video tag not supported.
			</video><!-- HTM5 FALLBACK -->
		</div>
		<div class="detail-dotnav"></div>
		<div class="detail-grid-icon">
			<div class="container">
				<img class="icon" src="img/grid-icon.gif" />
				<div class="copy">return to grid</div>
			</div>
		</div>
	</div><!-- /VIDEO PLAYER EMBED-->

	<div class="detail-content">
		<div class="detail-header">
			<div class="detail-header-txt"><span class="client"><%= label %></span> <span class="desc"><%= desc %></span></div>
		</div>
		<div class="detail-tags">
			<% if(tags)
			{
				_.each(tags, function(tag){
					%><div class="plode-badge active"><%= tag %></div><%
				});
			}%>
		</div>
		<div class="detail-desc"><%= detail.desc %>
			<% if(detail.links){ %>
				<ul>
					<% _.each(detail.links, function(link){
						%><li><a href="<%= link.path %>"><%= link.label %></a></li><%
					});%>
				</ul>
			<% } %>
		</div>
	</div>

</div>
<!-- /.detail-item -->