<!-- .detail-item -->
<div class="detail-item">

	<!-- VIDEO PLAYER EMBED-->
	<script type="text/javascript">
		// TODO - FORMAT DATE TO MATCH SWF NAME
		var swfName = 'plode_player_shell';
		var w = "100%";
		var h = "100%";
		var version = "10.1.0";
		var flashvars = {
			configPath : "xml/plode_player_config.xml",
			video : "<%= detail.vid %>",
			slate : "<%= detail.slate %>"
		 };
		var params = {
			menu: "false",
			scale: "noscale",
			salign: "tl",
			wmode: "transparent",
			allowFullScreen: "true"
		};
		swfobject.embedSWF("swf/" + swfName + ".swf", "flash-container", w, h, version, "swf/expressInstall.swf", flashvars, params);
	</script>
	<!-- /VIDEO PLAYER EMBED-->

	<div class="detail-video">
		<div id="flash-container">
			<!-- HTM5 FALLBACK-->
			<video poster="<%= detail.slate %>" controls tabindex="0">
				<source src="<%= detail.vid_mp4 %>" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
				<source src="<%= detail.vid_webm %>" type='video/webm; codecs="vp8, vorbis"' />
				<source src="<%= detail.vid_ogv %>" type='video/ogg; codecs="theora, vorbis"' />
				Video tag not supported.
			</video><!-- HTM5 FALLBACK -->
		</div>
		<div class="detail-dotnav"></div>
		<div class="detail-grid-icon">
			<div class="container">
				<img class="icon" src="img/grid-icon.gif" />
				<div class="copy">return to grid</div>
			</div>
		</div>
	</div>

	<div class="detail-content">
		<div class="detail-header">
			<div class="detail-header-txt"><span class="client"><%= label %></span> <span class="desc"><%= desc %></span></div>
		</div>
		<div class="detail-tags">
			<% if(tags)
			{
				_.each(tags, function(tag){
					%><div class="plode-badge active"><%= tag %></div><%
				});
			}%>
		</div>
		<div class="detail-desc"><%= detail.desc %>
			<% if(detail.links){ %>
				<ul>
					<% _.each(detail.links, function(link){
						%><li><a href="<%= link.path %>"><%= link.label %></a></li><%
					});%>
				</ul>
			<% } %>
		</div>
	</div>

</div>
<!-- /.detail-item -->