<!-- .grid-item contents -->
<div class="grid-item-bg"><img class="des" src="<%= img %>"></div>
<div class="grid-item-overlay">
	<div class="grid-item-overlay-bg"></div>
	<div class="grid-item-label-wrapper">
		<div class="grid-item-label">
			<div class="move">
				<span class="label"><%= label %></span><br />
				<span class="desc"><%= desc %></span>
			</div>
			<div class="grid-item-tags">
				<% _.each(tags, function(tag){
					%><div class="plode-badge active"><%= tag %></div><%
				});%>
			</div>
		</div>
		<div class="vcenter">
			<div class="grid-item-arrow"><img src="img/arrow_sm.png" /></div>
		</div>
	</div>
	<div class="arrow-lrg-wrapper">
		<div class="arrow-lrg">
			<div class="grid-item-arrow-lrg"><img src="img/arrow_lrg.png" /></div>
		</div>
	</div>
	<div class="hit-area"></div>
</div><!-- /.grid-item contents-->
