<!-- .grid-item contents -->
<div class="grid-item-bg"><img class="des" src=""></div>
<div class="grid-item-overlay">
	<div class="grid-item-overlay-bg"></div>
	<div class="grid-item-label-wrapper">
		<div class="grid-item-label">
			<div class="move">
				<span><%= label %></span><br />
				<span><%= desc %></span>
			</div>
			<div class="grid-item-tags">
				<div class="plode-badge">flash</div>
				<div class="plode-badge">akqa</div>
			</div>
		</div>
		<div class="vcenter">
			<div class="grid-item-arrow">></div>
		</div>
	</div>
	<div class="arrow-lrg-wrapper">
		<div class="arrow-lrg">
			<div class="grid-item-arrow-lrg">></div>
		</div>
	</div>
	<div class="hit-area"></div>
</div>
<!-- /.grid-item contents-->
