<!-- .grid-item contents -->
<div class="grid-item">
	<div class="pinwheel" />
	<div class="grid-item-bg">
		<img class="thumb-image" src="<%= img %>">
	</div>
	<div class="grid-item-overlay">
		<div class="grid-item-overlay-bg"></div>
		<div class="grid-item-label-wrapper">
			<div class="grid-item-label">
				<div class="move">
					<span class="label"><%= label %></span><br />
					<span class="desc"><%= desc %></span>
				</div>
				<div class="grid-item-tags">
					<% _.each(tags, function(tag){
						%><div class="plode-badge active"><%= tag %></div><%
					});%>
				</div>
				<div class="long-description">
					<p><%= longDesc %></p>
				</div>
			</div>
			<div class="vcenter">
				<div class="grid-item-arrow"><img src="img/arrow_sm.png" /></div>
			</div>
		</div>
	</div>
</div><!-- /.grid-item contents-->
