<!-- FOOTER CONTENTS -->
<div class="footer-wrapper">
	<div class="footer-content">
		<div class="footer-vcenter">
			<div class="footer-vcenter-wrapper">
				<div class="bullet-square pad"></div>
			</div>
		</div>
		<div class="footer-vcenter">
			<div class="footer-vcenter-wrapper">
				<span class="footer-label">contact me:</span>&nbsp;&nbsp;<a class="footer-eml">nelson@plode.com</a> &nbsp;|&nbsp; (510) 759-4898 &nbsp;|&nbsp; Brooklyn, NY &nbsp;|&nbsp; <a>download resume</a>
			</div>
		</div>
	</div>
</div><!-- /FOOTER CONTENTS-->
