<!-- FOOTER CONTENTS -->
<div class="footer-wrapper">
	<div class="footer-content">
		<div class="footer-vcenter">
			<div class="footer-vcenter-wrapper">
				<div class="bullet-square pad"></div>
			</div>
		</div>
		<div class="footer-vcenter">
			<div class="footer-vcenter-wrapper">
				<span class="footer-label">contact me:</span>&nbsp;&nbsp;<a class="footer-eml" href="<%= emailHref %>"><%= email %></a> &nbsp;|&nbsp; <a href="tel:5107594898">(510) 759-4898</a><span class="footer-extra">&nbsp;|&nbsp; Brooklyn, NY &nbsp;|&nbsp; <a class="download-resume">download resume</a></span>
			</div>
		</div>
	</div>
</div><!-- /FOOTER CONTENTS-->
