<div class="resume-blurb">
	Formerly a developer at <a href="http://www.akqa.com">AKQA</a> and <a href="http://www.publicis-usa.com">Publicis Modem</a> in San Francisco (for accounts such as Visa, Target, Gap, Xbox and Nike), I moved to NYC seeking freelance opportunities to utilize and expand on my creative technical abilities.
</div>
<div class="print-btn-wrapper">
	<div class="print-btn">
		<div class="vcenter-wrapper">
			<div class="vcenter">
				<div class="icon"><img src="img/icon_print.png"></div>
			</div>
		</div>
		<div class="vcenter-wrapper">
			<div class="vcenter">
				<div class="label print"><a href="#">print resume</a></div>
			</div>
		</div>
	</div>
</div>
<div class="resume-columns">
	<div class="col0 col">
		<div class="vcenter-wrapper bullet">
			<div class="vcenter">
				<div class="bullet-square pad"></div>
			</div>
		</div>
		<div class="vcenter-wrapper">
			<div class="vcenter">
				<div class="label">Experience</div>
			</div>
		</div>
		<div class="resume-job">
			<div class="resume-hdr-grp">
				<span class="resume-hdr-title">PLODE | Mar 2011 - Current</span>
				<br />
				<span class="resume-hdr-role">Freelance Creative Developer</span>
			</div>
			<div class="resume-body">clients: Wieden+Kennedy (Nike, ESPN), Night Agency (Levi’s), Ralph Lauren, Tiffany and Supertouch (AT&T).</div>
		</div>
		<div class="resume-job">
			<div class="resume-hdr-grp">
				<span class="resume-hdr-title">AKQA    |    Apr 2008 - Feb 2011</span>
				<br />
				<span class="resume-hdr-role">Creative Developer</span>
			</div>
			<div class="resume-body">Motion design / Front-end development - clients: Visa, Nike, Xbox, Gap, Kraft and Flip.
				<br /><a href='http://www.akqa.com'>www.akqa.com</a></div>
		</div>
		<div class="resume-job">
			<div class="resume-hdr-grp">
				<span class="resume-hdr-title">Miami Ad School    |    Winter 2008</span>
				<br />
				<span class="resume-hdr-role">Instructor</span>
			</div>
			<div class="resume-body">Course instruction.
				<br /><a href='http://www.miamiadschool.com'>www.miamiadschool.com</a></div>
		</div>
		<div class="resume-job">
			<div class="resume-hdr-grp">
				<span class="resume-hdr-title">Publicis Modem    |    Jan 2007 - Apr 2008</span>
				<br />
				<span class="resume-hdr-role">Interactive Designer/Developer</span>
			</div>
			<div class="resume-body">Creative design and development - clients: HP, LG, Wells Fargo and Amgen Wyeth
				<br /><a href="http://www.publicismodem.com">www.publicismodem.com</a></div>
		</div>
		<div class="resume-job">
			<div class="resume-hdr-grp">
				<span class="resume-hdr-title">RITA Medical    |    Jan 2005 - Jan 2007</span>
				<br />
				<span class="resume-hdr-role">Art Director</span>
			</div>
			<div class="resume-body">Print, web and video direction and design / internal and promotional collateral and signage / corporate ID and website redesign</div>
		</div>
		<div class="resume-job">
			<div class="resume-hdr-grp">
				<span class="resume-hdr-title">Relay Health    |    Mar 2000 - Mar 2002
				<br />
				<span class="resume-hdr-role">Senior Graphic Designer</span>
			</div>
			<div class="resume-body">Information architecture / interface design / illustration / animation / prototyping of a developing online application</div>
		</div>
	</div>
	<div class="col1 col">
		<div class="vcenter-wrapper bullet">
			<div class="vcenter">
				<div class="bullet-square pad"></div>
			</div>
		</div>
		<div class="vcenter-wrapper">
			<div class="vcenter">
				<div class="label">Proficiencies</div>
			</div>
		</div>
		<div class="resume-skills">
			<div class="resume-skills-item">
				<div class="resume-skills-hdr">Software</div>
				<div class="resume-skills-list">Mac / PC / Adobe Creative Suite / Eclipse / FDT / Visual Studio</div>
			</div>
			<div class="resume-skills-item">
				<div class="resume-skills-hdr">Front-End Development</div>
				<div class="resume-skills-list">Actionscript / Javascript / Xamarin / HTML / CSS / PHP / MYSQL</div>
				<div class="resume-skills-desc">Fluency in OOP, design patterns, and version control protocols (Git and SVN). Experience developing fluid, stateful and data-driven sites.  Experience working with frameworks and libraries (CodeIgniter, jQuery, jQuery Mobile, Backbone, RequireJS, PhoneGap, Less, Sass).</div>
			</div>
			<div class="resume-skills-item">
				<div class="resume-skills-hdr">Learning</div>
				<div class="resume-skills-list">Android / iOS / Sencha / WordPress</div>
			</div>
		</div>
		<div class="vcenter-wrapper bullet">
			<div class="vcenter">
				<div class="bullet-square pad"></div>
			</div>
		</div>
		<div class="vcenter-wrapper">
			<div class="vcenter">
				<div class="label">Education</div>
			</div>
		</div>
		<div class="resume-edu resume-item">B.A. Art Studio - University of California at Santa Barbara, December 1999</div>
		<div class="vcenter-wrapper bullet">
			<div class="vcenter">
				<div class="bullet-square pad"></div>
			</div>
		</div>
		<div class="vcenter-wrapper">
			<div class="vcenter">
				<div class="label">Awards</div>
			</div>
		</div>
		<div class="resume-edu resume-item">FWA Site of the Day - Quick Controls Chaos</div>
		<div class="vcenter-wrapper bullet">
			<div class="vcenter">
				<div class="bullet-square pad"></div>
			</div>
		</div>
		<div class="vcenter-wrapper">
			<div class="vcenter">
				<div class="label">Certifications</div>
			</div>
		</div>
		<div class="resume-edu resume-item">Xamarin Certified Developer</div>
	</div>
</div>