<!-- masthead -->
<div class="header-inner-left">
	<!-- #HEADER-TITLE-BLOCK -->
	<div class="header-title-block">
		<span class="header-title">NELSON SHIN</span><span class="header-role"> Creative Developer</span>
		<div id="print-contact">
			<%= email %> &nbsp;|&nbsp; (510) 759-4898 &nbsp;|&nbsp; Brooklyn, NY
			<hr />
		</div>
	</div><!-- /#HEADER-TITLE-BLOCK -->
	<!-- HIDDEN CONTACT INFO FOR PRINT PAGE -->
</div>
<div class="header-inner-right">
	<!-- #HEADER-NAV-BLOCK -->
	<div class="header-nav-block">
		<ul>
			<li id="primary-nav-item_about">
				<div class="vcenter">
					<div class="nav-item">about</div>
				</div>
				<div class="header-nav-highlight-bar"></div>
			</li>
			<li id="primary-nav-item_projects">
				<div class="vcenter">
					<div class="nav-item">projects</div>
				</div>
				<div class="header-nav-highlight-bar"></div>
			</li>
		</ul>
	</div><!-- /#HEADER-NAV-BLOCK -->
</div>
<!-- /masthead -->